* {
    margin: 0;
    font-family: 'Arial Narrow', Arial, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border {
    border: 1.8px solid transparent;
}
.border:hover {
    border: 1.8px solid white;
}

.nav-logo {
    height: 50px;
    width: 113px;
}
.logo {
    width: 100%;
    height: 50px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

/* box 2 */

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec {
    font-size: 12px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 540;
    margin-left: 3.5px;
}
.location {
    display: flex;
    align-items: center;
}

/* box 3 */
.search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 38px;
    border-radius: 4px;
}

.search-input {
    width: 100%;
    font-size: 0.9rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    background-color: #f6ab48;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgba(25, 23, 23, 0.843);
}

.search-select {
    text-align: center;
    font-size: 0.8rem;
    width: 50px;
    padding-left: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    color: #686565;
    border: none;
}
.search:hover {
    border: 2px solid orange;
}


/* box 4 */
.second {
    font-size: 14px;
    font-weight: 600;
}
.welcome {
    font-size: 12px;
}

/* box 5 */
.return {
    font-size: 9px;
}

/* box 6 */
.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    display: flex;
    align-items: end;
    font-weight: 540;
}

/*** Panel ***/
.panel {
    height: 39px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.panel-all {
    font-weight: 550;
}
.panel-ops p {
    display: inline;
    margin: 15px;
}
.panel-ops {
    width: 90%;
}

/** Hero **/
.hero {
    height: 300px;
    background-image: url("hero.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero_msg {
    background-color: white;
    color: black;
    height: 30px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 20px;
}
.hero_link {
    color: #007185;
    text-decoration: none;
}