h1 {
  font-size: 2rem;
}

body {
  background-color: rgb(169, 220, 203);
  padding-left: 20px;
}

.box {
  height: 290px;
  width: 490px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.heading {
  font-size: 25px;
  font-weight: 550;
  font-family: sans-serif;
}
.detail {
  color: rgba(102, 63, 138, 0.377);
  font-weight: 550;
}

.qr {
  height: 270px;
  width: 240px;
  background-color: rgba(184, 127, 237, 0.384);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan {
  height: 120px;
  width: 120px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/557/391/original/qr-code-for-scanning-free-vector.jpg");
  background-size: cover;
}
